<div ng-include="'components/navbar/navbar.html'"></div>
<!--&lt;!&ndash;<div ng-controller="HomeController">&ndash;&gt;-->
<!--&lt;!&ndash;<div style="width: 100%;">&ndash;&gt;-->
<!--&lt;!&ndash;<carousel interval="myInterval" no-wrap="noWrapSlides">&ndash;&gt;-->
<!--&lt;!&ndash;<slide ng-repeat="slide in slides" active="slide.active">&ndash;&gt;-->
<!--&lt;!&ndash;<img ng-src="{{slide.image}}" style="margin:auto;">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;<h4>Slide {{$index}}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;<p>{{slide.text}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</slide>&ndash;&gt;-->
<!--&lt;!&ndash;</carousel>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="space"></div>-->
<!--<div id="team" class="owl-carousel owl-theme row ng-scope" style="opacity: 1;">-->
    <!--<div class="owl-wrapper-outer autoHeight" style="height: 330px;">-->
        <!--<div class="owl-wrapper"-->
             <!--style="width: 4560px; left: 0px; transform: translate3d(0px, 0px, 0px); transition: all 400ms ease;">-->
            <!--&lt;!&ndash; ngRepeat: slide in slides &ndash;&gt;-->
            <!--<div ng-repeat="slide in slides" class="owl-item ng-scope" style="width: 285px;display: inline-block;">-->
                <!--<div class="item">-->
                    <!--<div class="thumbnail thumbnailStyle ng-binding">-->
                        <!--<img src={{slide}} alt="..." class="img-circle team-img">-->

                        <!--<div class="caption">-->
                            <!--<h3>Jenn Gwapa</h3>-->

                            <!--<p>CEO / Founder</p>-->

                            <!--<p>Do not seek to change what has come before. Seek to create that which has not.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end ngRepeat: slide in slides &ndash;&gt;-->

            <!--<div class="owl-controls clickable">-->
                <!--<div class="owl-pagination">-->
                    <!--<div class="owl-page active"><span class=""></span></div>-->
                    <!--<div class="owl-page"><span class=""></span></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->